a.btn {
  font-family: "Quicksand";
  padding: 8px 12px 4px 12px;
  margin-top: 7; 
  color: black;
}

marquee {
  width: 90%;
  text-shadow: 5px 5px 2px white;
    font-family: monospace;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: 30px;
    background-color: rgb(255, 245, 0);
    border: 4px dashed rgb(166, 0, 255);
}

.promoted {
  text-shadow: 1px 1px 1px rgb(236, 120, 55);
  font-weight: bold;
}

.messages {
  width: 100%;
}
