body {
  border: 10px solid rgb(210, 166, 50);
  text-align: center;
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:visited {
  color: #00B7FF;
}
