body {
    font-family: "Quicksand";
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea7aeb5fc4e3623a3f16af817ec12129&auto=format&fit=crop&w=1510&q=80")
  }

a {
  color: #00B7FF;
}

a:visited {
  color: #00B7FF;
}

.food {
  font-family: "Economica";
  font-size: 50px;

}

.seen {
    font-family: "Economica";
    font-size: 50px;
}

a {
  font-family: "Quicksand";
  font-size: 50px;
}
