span.cardTags {
  color: teal;
  margin: 5px;
}


.alert-card {
  font-family: "Quicksand";
  width: 50%;
  margin-left: 25%;
  color: rgb(237, 237, 237);
  font-weight: bold;
  border-radius: 10px;
  
}

#createPostSuccessMessage{
  display: none;
}

#generalErrorMessage {
  display: none;
}

#promoterSubmitPopup {
  display: none;
  font-family: "Quicksand";
  width: 50%;
  margin-left: 25%;
  color: rgb(237, 237, 237);
  font-weight: bold;
  border-radius: 10px;
}

@keyframes fade-out {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% {opacity: 0;}
}
